html,
body {
  min-height: 100%;
}

body {
  position: relative;
}

.is-error-overlay {
  position: absolute;
  width: 100%;
  height: inherit;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.has-accent {
  border-left: solid 4px grey;
}

.is-larger {
  font-size: 1.65rem !important;
}

.centered-table {
  display: flex;
  justify-content: center;
  align-self: center;
}

.slider {
  width: 100%;
  background-color: #ffffff00;
}

@media only screen and (max-width: 600px) {
  .is-larger {
    font-size: 1.25rem !important;
  }
}

.timeline-container {
  align-items: center;
  justify-content: center;
}

.country-name-tag {
  opacity: 0.9;
  position: absolute;
  top: 2px;
  left: 10px;
}

.tab-button {
  text-decoration: none !important;
  background-color: white !important;
}

.tabs.is-toggle li.is-active a {
  color: black !important;
}

.content {
  margin: 10px auto;
}

.button-group {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.button-row {
  display: flex;
}

svg {
  width: 100%;
  height: auto;
}

.map-container {
  height: 100%;
}
